@using DSharpPlus;
@{
	ViewData["Title"] = "Guilds";

	@functions {
		public class Guild
		{
			public long ID { get; set; }
			public string? Name { get; set; }
			public string? Icon { get; set; }
			public bool Owner { get; set; }
			public long Permissions { get; set; }
		}
	}

	string? guildsJSON = (string?)ViewData["Guilds"];
	IList<Guild>? guilds = null;

	if (!string.IsNullOrEmpty(guildsJSON))
	{
		guilds = JsonConvert.DeserializeObject<List<Guild>>(guildsJSON);
	}
}

<div class="guildlist">
	@{
		if (guilds != null)
		{
			guilds = guilds.OrderBy(guilds => guilds.Name).ToList<Guild>();

			for (int i = 0; i < guilds.Count(); ++i)
			{

				Guild? guild = guilds[i];

				DiscordClient? client = DiscordConnection.Client;

				if (client == null) { throw new Exception("Client missing value!"); }

				string serverIconURL = "https://cdn.discordapp.com/icons/" +
					guild.ID +
					'/' + guild.Icon;

				<div>
					@{
						if (client.Guilds.ContainsKey((ulong)guild.ID))
						{
							<a asp-controller="Dashboard" asp-action="Index" asp-route-guildID="@guild.ID" >
								<img src="@serverIconURL" height="100" width="100" alt="Server Icon" />
								<br/>@guilds[i].Name
							</a>
						}
						else
						{
							string inviteBotToServerURL = "https://discord.com/oauth2/authorize?" +
								"client_id=" + HostConfig.Discord.ClientID + '&' +
								"scope=bot&" +
								"permissions=137439239200&" +
								"guild_id=" + guild.ID;

							<a href="@inviteBotToServerURL">
								<img src="@serverIconURL" height="100" width="100" alt="Server Icon" class="unusedserver" />
								<br/>@guilds[i].Name
							</a>

						}
					}
				</div>
			}
		}
	}
</div>

