@{
	ViewData["Title"] = "Guilds";

	@using Bot_Dashboard.Controllers
	@using DSharpPlus;

	@section Styles { <link rel="stylesheet" href="~/CSS/Guilds.css" /> }


	IList<UsersController.Guild>? guilds = (IList<UsersController.Guild>?)ViewData["Guilds"];

}
<div class="maincolumn">
	<div class="guildlist">
		@{
			if (guilds != null)
			{
				guilds = guilds.OrderBy(guilds => guilds.Name).ToList<UsersController.Guild>();


				for (int i = 0; i < guilds.Count(); ++i)
				{

					UsersController.Guild? guild = guilds[i];

					DiscordClient? client = DiscordConnection.Client;

					if (client == null) { throw new Exception("Client missing value!"); }

					string serverIconURL = "https://cdn.discordapp.com/icons/" +
						guild.ID +
						'/' + guild.Icon,

					inviteBotToServerURL = "https://discord.com/oauth2/authorize?" +
								"client_id=" + HostConfig.Discord.ClientID + '&' +
								"scope=bot&" +
								"permissions=137439239200&" +
								"guild_id=" + guild.ID;

					<div>
						@{
							if (client.Guilds.ContainsKey((ulong)guild.ID))
							{
								<a asp-controller="Dashboard" asp-route-guildID="@guild.ID" asp-action="Index" >
									<img src="@serverIconURL" height="100" width="100" alt="Server Icon" />
									<br/>@guilds[i].Name
								</a>
							}
							else
							{
								<a href="@inviteBotToServerURL" target="_blank">
									<img src="@serverIconURL" height="100" width="100" alt="Server Icon" class="unusedserver" />
									<br/>@guilds[i].Name
								</a>
							}
						}
					</div>
				}
			}
		}
	</div>
</div>
